<div id="new_business" class="row col gutters-d span-12-d gray-box">
  <h2>Thank you for the addition</h2>
  <p>We appreciate you taking the time to add a local business to our expanding list available for flights. The business you have submitted is now available for inclusion in new flights created from our search page.</p>
