<div id="flights-list" class="row col gutters-d span-12-d gray-box">
  <h2>Pick the perfect escape</h2>
  <ul class="flight-name">
  <h2><% @flights.each do |flight| %></h2>
  <li class="left-list-item">
  <%= flight.id %>
    <%= link_to flight.name, "/flights/#{flight.id}" %>
    <ol>
    <% flight.businesses.each do |business| %>
      <li><%= business.name %></li>
    <% end %>
    </ol>
  </li>
  <% end %>
  </ul>
</div>
