<h2>Pick the perfect escape</h2>
<ul>
<% @flights.each do |flight| %>
<li>
  <%= flight.name %>
  <ol>
  <% flight.businesses.each do |business| %>
    <li><%= business.name %></li>
  <% end %>
  </ol>
</li>
<% end %>
</ul>
