<header class="row">
  <h1>SipTrip</h1>
</header>

<div class="row">
  <div class="col gutters-d span-8-d" id="map-container">
    <div id="map-canvas">

    </div>
  </div>

  <div class="col gutters-d span-4-d" id="business-list">
  <h1>This is a business list</h1>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDAWZInGIoJmxu61yRWsqh7XrmW7GQLX8&callback=initMap"
    async defer></script>
