<div id="map-container">
  <div id="map-canvas">

  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDAWZInGIoJmxu61yRWsqh7XrmW7GQLX8&callback=initMap"
    async defer></script>

