@import 'utilities/_variables';
@import 'partials/_button';

body {
  background-image: image-url('/assets/beers.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: $font;
}

main {
  position: relative;
  height: 100%;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
}
