$font: Raleway;

body {
  background-image: image-url('/assets/beers.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: $font;
}

main {
  width: 80%;
  margin: auto;
  margin-top: 20%;

  #landing-box {
    text-align: center;
  }

}

