@import 'utilities/_variables';
@import 'partials/_button';

body {
  background-image: image-url('/assets/beers.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: $font;
  color: #232728;
  letter-spacing: .06em;
  height: 100%;
}

main {
  position: relative;
  height: 100%;
}

header {
  color: rgba(200, 200, 200, .8);
  background-color: #542e4d;
  text-align: center;
  height: 120px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
}

footer {
  text-align: center;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #542e4d;
  color: rgba(200, 200, 200, .8);
  position: fixed;
}

.hidden {
  display: none;
}

.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}

.section {
  min-height: 1400px;
}

.centered {
  padding-top: 15em;
  margin: 0 auto;
  width: 35em;
}

@media (min-width: 75em) {
    .centered.large {
        width: 65em; /* 720px */
    }
}

