@import 'utilities/_variables';
@import 'partials/_button';

body {
  background-image: image-url('/assets/beers.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: $font;
}


