<div id='homepage' class="col row gutters-d span-12-d">
  <div class='gray-box' id='homepage-box'>
  <%= content_tag(:h1, "SipTrip") %>
  <%= content_tag(:hr) %>
  <%= content_tag(:p, "Curated samplings of local beverage businesses") %>
  <%= link_to(content_tag(:button, "Enter"), flights_search_path) %>
  </div>
</div>
