@import 'utilities/_variables';

button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 10px;
  color: #000000;
  font-family: $font;
  padding: 10px 20px 10px 20px;
  border: solid #000000 1px;
  text-decoration: none;
  background: transparent;
}

button:hover {
  background: rgba(200, 200, 200, 0.3);
  text-decoration: none;
}
