@import 'utilities/_variables';

button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 10px;
  font-family: $font;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  background: transparent;
}

