form {
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;

  label {
    display: block;
    padding-bottom: 5px;
  }

  input {
    margin-bottom: 12px;
  }

  select {
    margin-bottom: 15px;
  }

  button {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}
