#homepage {
  height: inherit;
  display: flex;
  justify-content: center;
}

#homepage-box {
  align-self: center;
  margin-bottom: 5%;
}

html {
  height: 100%;
}

#homepage-box-content {
  margin-top: 15%;

  button {
    color: #542e4d;
    border: 1px solid #542e4d;
    display: block;
    margin: auto;
    margin-top: 20px;
  }

  button:hover {
    color: #4a868c;
    border: 1px solid #4a868c;
  }
}

@media (min-width: 75em) {
    #homepage-box {
      width: 35%;
      height: 35%;
    }
}


