#flights-list {
  float: none;
  width: 70%;
}

.left-list-item {
  text-align: left;
  margin-bottom: 5%;
}

.flight-name {
  list-style-type: none;
  text-align: center;
}

#search-results-box {
  margin-top: 6em;
}
