#map-container, #business-list {
   border-radius: 10px 10px;
   border-color: rgba(200, 200, 200, 0.8);
   border-style: solid;
   border-width: 10px;
 }

 #map-canvas {
  height: 500px;
 }

#business-list {
  padding: 0;
}

#business-list p {
  text-align: left;
  padding-left: 5%;
}
