a:link {
  text-decoration: none;
  color: #542e4d;
}

a:visited {
  color: #542e4d;
}

a:hover {
  color: #4a868c;
}

#navigation {
  margin-bottom: .25em;
}

#navigation a {
  margin-right: .375em;
}
